body {
    font-family: 'Lato';
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900 !important;
}

.bg-brand {
    background-color: #061636;
}

.masthead {
    height: 600px;
    background-image: url(/img/masthead-background.jpg);
    background-size: cover;
    background-position: center;
}

.masthead .title {
    font-size: 4em;
    padding-top: 200px;
}

section .container {
    padding: 50px 20px;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

table tbody+tbody {
    border-top: 2px solid #dee2e6;
}

table table {
    background-color: #fff;
}

.logos img {
    max-height: 100px;
    max-width: 150px;
    margin: 20px;
}