<section id="sponsors">
  <h1 class="text-center pt-4">Technical Sponsors</h1>
  <div class="d-flex flex-wrap justify-content-around align-items-center logos">
    <div><img src="/img/logos/acmi.png"></div>
    <div><img src="/img/logos/aimli.png"></div>
    <div><img src="/img/logos/csi.png"></div>
    <!--<div><img src="/img/logos/ieeecs.png"></div>
    <div><img src="/img/logos/ieeeic.png"></div>-->
    <div><img src="/img/logos/innsi.png"></div>
    <div><img src="/img/logos/iste.png"></div>
    <div><img src="/img/logos/uob.png"></div>
    <div><img src="/img/logos/scaai.jpg"></div>
  </div>
  <h1 class="text-center">Organizing Sponsors</h1>
  <div class="d-flex flex-wrap justify-content-around align-items-center logos">
    <div><img src="/img/logos/vardhaman.png"></div>
  </div>
</section>
