<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <div class="list-group">
                <a href="https://icamlda.org/" class="list-group-item
                    list-group-item-action"><span style="color:black;">AMLDA
                        2023</span></a>
                <a href="../pages2023/cfp.html" class="list-group-item
                    list-group-item-action ">Call for Papers</a>
                <a href="../pages2023/cfs.html" class="list-group-item
                    list-group-item-action ">Call for Sponsors</a>
                <a href="../pages2023/workshop.html" class="list-group-item
                    list-group-item-action active ">Workshops</a>
                <div class="dropdown list-group-item">
                    <div class="dropdown-toggle btn-default" id="dropdownMenu4" data-toggle="dropdown">
                        Committee
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
                        <li> <a href="../pages2023/com2023/oc.html"
                                class="list-group-item list-group-item-action ">Organizing
                                Committee</a></li>
                        <li> <a href="../pages2023/com2023/sc.html"
                                class="list-group-item list-group-item-action ">Steering
                                Committee</a></li>
                        <li> <a href="../pages2023/com2023/tc.html"
                                class="list-group-item list-group-item-action ">Technical
                                Program Committee</a></li>
                    </ul>
                </div>
                <a href="../pages2023/submission.html" class="list-group-item
                    list-group-item-action"><span style="color:black">Submission</span></a>
                <a href="../pages2023/speakers.html" class="list-group-item
                    list-group-item-action"><span style="color:black">Speakers</span></a>
                <a href="../pages2023/registration.html" class="list-group-item
                    list-group-item-action"><span style="color:black">Registration</span></a>
                <a href="pdf.html" class="list-group-item
                    list-group-item-action"><span style="color:black;">Schedule</span></a>
            </div>
        </div>
    </div>
</div>