<div class="container-fluid">
    <div class="row">
    <div class="col-sm-2">

  <div class="list-group">
    <a href="/#content" class="list-group-item list-group-item-action"><span style="color:black;">ICMLSC 2024</span></a>
  
    <a href="/#content" class="list-group-item list-group-item-action ">About</a>
    <a href="/call-for-papers#content" class="list-group-item list-group-item-action  ">Call for Papers</a>
    <a href="/submission#content" class="list-group-item list-group-item-action">Submissions</a>
    <a href="/committee#content" class="list-group-item list-group-item-action">Committee</a>
    <a href="/venue#content" class="list-group-item list-group-item-action">Venue</a>
  <a href="/important-dates#content" class="list-group-item list-group-item-action"><span style="color:black">Important Dates</span></a>
    <a href="/speakers#content" class="list-group-item list-group-item-action"><span style="color:black">Speakers</span></a>
        <a href="/registration#content" class="list-group-item list-group-item-action"><span style="color:black">Registration</span></a>
   <a href="/contact-us#content" class="list-group-item list-group-item-action"><span style="color:black;">Contact Us</span></a>
  </div>
    </div>
    <header class="masthead text-center text-white">
        <div class="container">
            <h1 class="title">ICMLSC 2024
          </h1>
            <h2 class="subtitle">International Conference on Machine Learning, Security and Cloud Computing</h2>
                <h4> 3rd and 4th November 2024</h4>
           
        </div>
    </header>
    </div>
    </div>